# Gemini API Key
GEMINI_API_KEY=AIzaSyCNvgAgx_UcvSdSGlRcyhYum9bhHl08Amo

# Pexels API Key
PEXELS_API_KEY=EbR6snA7ZZnJA40rsLlVZflFXsVyqzNYOWdOXGRZL4n2fpJfb8ExL6CO

# YouTube API Credentials (OAuth)
# YT_CLIENT_ID=
# YT_CLIENT_SECRET=

# OpenAI API Key
OPENAI_API_KEY=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


